extends layout

block content
  .row.page-header
    .col-md-6.col-sm-12
      h1.text-warning= title
  .row
    .col-md-6.col-sm-12
      p.text-warning
        | This is a recommendation website created by Sheng Yang which is used to provide users some nearby appropriate restaurants or shops.