extends layout

block content

  div.jumbotron
    h1.display-3 #{title}
    p This is a location seeking and rating website.
    p
      a(class="btn btn-primary btn-lg" href="/users/login") Start off Seeking
