extends layout

block content
  
  script(src='/javascripts/currentLocation.js')

  div.jumbotron
    h1.display-3 #{title}
    p This is a location seeking and rating website.
    p
      form(action="/locationlist/", method="post", role="form", id="geolocation")
        select(class="btn btn-primary btn-lg", name='Radius')
          option(value='500') 500 meters
          option(value='1000') 1 kilometer
          option(value='3000') 3 kilometers
          option(value='5000') 5 kilometers
          option(value='10000') 10 kilometers
          option(value='15000') 15 kilometers
          option(value='20000') 20 kilometers
        select(class="btn btn-primary btn-lg", name='LocationOption')
          option(value='restaurant') Restaurant
          option(value='bar') Bar
          option(value='library') Library
          option(value='cafe') Cafe
          option(value='bank') Bank
          option(value='school') School
          option(value='atm') ATM
        input(type="hidden", id="Latitude", name='Latitude', value="")
        input(type="hidden", id="Longitude", name='Longitude', value="")
        button.btn.btn-primary.btn-lg Start off Seeking

  