extends layout

block content
    .row.page-header
        .col-lg-12
            h1 Starbucks
    .row
        .col-xs-12.col-md-9
            .row
                .col-xs-12.col-sm-6
                    p.rating
                      span.fa.fa-star
                      span.fa.fa-star
                      span.fa.fa-star
                      span.fa.fa-star-half-o
                      span.fa.fa-star-o
                    p.h6.list-group-item-text 301 Burgess Road, Southampton, SO16 3BA 
