extends layout

block content

  .page-header
    .row
      .col-lg-6
        h1.sideword
          strong.fa.fa-location-arrow
          small.lead &nbsp;#{pageHeader.title}
  .row
    .col-xs-12.col-sm-8.col-lg-6
      row.list-group
        .col-xs-12.col-lg-12.list-group-item.list-group-item-action.active
          h4.list-group-item-heading
            a(href="/location" class="text-warning") Starbucks &nbsp;
            small
              span.fa.fa-star
              span.fa.fa-star
              span.fa.fa-star
              span.fa.fa-star-half-o
              span.fa.fa-star-o
            span.badge.float-right.badge-pill.badge-default 100m
            p.h6.list-group-item-text 301 Burgess Road, Southampton, SO16 3BA
            p.h6
              span.badge.badge-pill.badge-warning Hot Drinks
              | &nbsp;
              span.badge.badge-pill.badge-warning Food
              | &nbsp;
              span.badge.badge-pill.badge-warning Premium wifi

        .col-xs-12.col-lg-12.list-group-item.list-group-item-action.active   
          h4.list-group-item-heading
            a(href="/location" class="text-warning") ReadingStore &nbsp;
            small
              span.fa.fa-star
              span.fa.fa-star
              span.fa.fa-star
              span.fa.fa-star
              span.fa.fa-star-o
            span.badge.float-right.badge-pill.badge-default 200m
            p.h6.list-group-item-text 102 Green Street, Southampton, SO12 1RQ
            p.h6
              span.badge.badge-pill.badge-warning Books
              | &nbsp;
              span.badge.badge-pill.badge-warning Sofa
              | &nbsp;
              span.badge.badge-pill.badge-warning Premium wifi

    .col-xs-12.col-sm-4
      p.lead.sideword Location Seeking helps you find place to work out. 