extends layout

block content
  .row.page-header
    .col-lg-12
      br
      h1.text-warning.text-center.size.italic= title
  .row
    .col-lg-12
      br
      br
      p.text-warning.size_text.text-center The reported review about a specific location has been deleted successfully!
      br
      p.text-center
       a(class="btn btn-primary btn-lg" href="/users/admin/reports") Click here to back to the reports page!